<div>
	<form enctype="multipart/form-data" th:action="@{/admin/addAdmin}" method="post" th:object="${user}">
		<div>
           	<h3 th:if="${!isEdit}" class="titulo">A&ntilde;adir datos de nuevo administrador</h3>
           	<h3 th:if="${isEdit}" class="titulo">Modificar datos</h3>
		</div>	
		<div class="form-group">
           	<input th:if="${!isEdit}" type="text" th:value="${user.id}" id="id" hidden>
           	<input th:if="${isEdit}" type="text" th:field="*{id}" id="id" hidden>
           	<input th:if="${isEdit}" type="text" th:field="*{picture}" id="picture" hidden>
            <label for="username" class="text-center">Nombre de usuario</label>
            <input th:if="${!isEdit}" type="text" class="form-control" name="username" placeholder="Nombre de usuario" id="username" maxlength="10" minlength="5" required>
			<input th:if="${isEdit}" class="form-control" type="text" name="username" th:field="*{username}" id="username" maxlength="10" minlength="5" readonly>
		</div>
		<div class="form-group">
			<label for="password" class="text-center">Contrase&ntilde;a</label>
			<input type="password" class="form-control" name="password" placeholder="Contrase&ntilde;a" id="password" maxlength="10" minlength="5" required>
		</div>
		<div class="form-group">
         	<label for="name">Nombre</label>
         	<input th:if="${!isEdit}" class="form-control" type="text" name="name" placeholder="Nombre" id="name" maxlength="25" minlength="2" required>
         	<input th:if="${isEdit}" class="form-control" type="text" name="name" th:field="*{name}" id="name" maxlength="25" minlength="2" required>
		</div>
		<div class="form-group">
         	<label for="surname1">Primer apellido</label>
         	<input th:if="${!isEdit}" class="form-control" type="text" name="surname1" placeholder="Primer apellido" id="surname1" required>
         	<input th:if="${isEdit}" class="form-control" type="text" name="surname1" th:field="*{surname1}" id="surname1" required>
         </div>
		<div class="form-group">
         	<label for="surname2">Segundo apellido</label>
         	<input th:if="${!isEdit}" class="form-control" type="text" name="surname2" placeholder="Segundo apellido" id="surname2">
         	<input th:if="${isEdit}" class="form-control" type="text" name="surname2" th:field="*{surname2}" id="surname2">
         </div>
		<div class="form-group">
			<label for="birthday">Fecha de nacimiento</label>
			<input th:if="${!isEdit}" class="form-control" type="date" name="birthday" id="birthday" required>
			<input th:if="${isEdit}" class="form-control" type="date" name="birthday" th:field="*{birthday}" id="birthday" required>
		</div>
		<div class="form-group">
         	<label for="dni">D. N. I.</label>
         	<input th:if="${!isEdit}" class="form-control" type="text" name="dni" placeholder="DNI" id="dni" maxlength="9" minlength="9" required>
         	<input th:if="${isEdit}" class="form-control" type="text" name="dni" th:field="*{dni}" id="dni" maxlength="9" minlength="9" required>
		</div>
		<div class="form-group">
			<label for="email" class="text-center">Email</label>
         	<input th:if="${!isEdit}" class="form-control" type="email" name="email" placeholder="Email" id="email" required>
         	<input th:if="${isEdit}" class="form-control" type="email" name="email" th:field="*{email}" id="email" required>
		</div>
		<div class="form-group">
			<label for="picture">Foto</label>
			<input th:if="${!isEdit}" type="file" name="file" class="form-control-file" id="picture" required>
			<input th:if="${isEdit}" type="file" name="file" class="form-control-file" id="picture">
		</div>
		<div>
         	<input type="submit" class="btn adminColor" value="OK">
		</div>
	</form>
</div>