<div class="container">
	<form class="form col-md-6 offset-md-3" th:action="@{/admin/addCourse}" method="post" th:object="${course}">
		<div>
           	<h3 th:if="${!isEdit}" class="titulo">A&ntilde;adir datos de nuevo curso</h3>
           	<h3 th:if="${isEdit}" class="titulo">Modificar datos del curso</h3>
		</div>
		<div class="form-group">
           	<input th:if="${!isEdit}" type="text" th:value="${course.id}" id="id" hidden>
           	<input th:if="${isEdit}" type="text" th:field="${course.id}" id="id" hidden>
            <div class="form-group">
				<label for="name">Nombre del curso</label>
	         	<input th:if="${!isEdit}" class="form-control" type="text" name="name" placeholder="Nombre del curso" id="name" maxlength="25" minlength="5" required>
	         	<input th:if="${isEdit}" class="form-control" type="text" name="name" th:field="*{name}" id="name" maxlength="25" minlength="5" required>
         	</div>
         	<div class="form-group">
				<h6 for="classrooms"class="mb-3 text-center">Clases</h6>
				<div class="row" style="display: inline-block;" th:each="classroom:${classrooms}">
					<input type="checkbox" class="ml-5" th:value="${classroom.name}" name="classrooms" th:text="${classroom.name}">
				</div>
			</div>
			<div class="form-group">
				<h6 for="subject"class="mb-3 text-center">Asignaturas</h6>
				<div class="row" style="display: inline-block;" th:each="subject:${subjects}">
					<input type="checkbox" class="ml-5" th:value="${subject.name}" name="subject" th:text="${subject.name}">
				</div>
			</div>
		</div>
		<div>
         	<input type="submit" class="btn adminColor" value="Crear" />
		</div>
	</form>
</div>