<div class="container">
	<form class="form col-md-6 offset-md-3" th:action="@{/admin/addClassroom}" method="post" th:object="${classroom}">
		<div>
           	<h3 class="titulo">A&ntilde;adir datos de nueva clase</h3>
		</div>
		<div class="form-group">
           	<input th:if="${!isEdit}" type="text" th:value="${classroom.id}" id="id" hidden>
           	<input th:if="${isEdit}" type="text" th:field="*{id}" id="id" hidden>
            <div class="form-group">
				<label for="name">Nombre de la clase</label>
	         	<input th:if="${!isEdit}" class="form-control" type="text" name="name" placeholder="Nombre de la clase" id="name" maxlength="25" minlength="5" required>
	         	<input th:if="${isEdit}" class="form-control" type="text" name="name" th:field="*{name}" id="name" maxlength="25" minlength="5" required>
         	</div>
		</div>
		<div>
         	<input type="submit" class="btn adminColor" value="Añadir" />
		</div>
	</form>
</div>