<div class="container">
	<form class="form col-md-6 offset-md-3" enctype="multipart/form-data" th:action="@{/admin/addSubject}" method="post" th:object="${subject}">
		<div>
           	<h3 th:if="${!isEdit}" class="titulo">A&ntilde;adir datos de nueva clase</h3>
           	<h3 th:if="${isEdit}" class="titulo">Modificar datos de la clase</h3>
		</div>
		<div class="form-group">
           	<input th:if="${!isEdit}" type="text" th:value="${subject.id}" id="id" hidden>
           	<input th:if="${isEdit}" type="text" th:field="*{id}" id="id" hidden>
            <div class="form-group">
				<label for="name">Nombre de la asignatura</label>
	         	<input th:if="${!isEdit}" class="form-control" type="text" name="name" placeholder="Nombre de la asignatura" id="name" maxlength="25" minlength="5" required>
         		<input th:if="${isEdit}" class="form-control" type="text" name="name" th:field="*{name}" id="name" maxlength="25" minlength="5" required>
         	</div>
         	<div class="form-group">
				<label for="picture">Imagen</label>
				<input th:if="${!isEdit}" type="file" name="file" class="form-control-file" id="picture" required>
				<input th:if="${isEdit}" type="file" name="file" class="form-control-file" id="picture">
			</div>
		</div>
		<div>
         	<input type="submit" class="btn adminColor" value="Añadir" />
		</div>
	</form>
</div>