
	<style type="text/css">
		.form-check-input{
			position: relative !important;
		}
		
	</style>

	<div class="contenidoForm3">
		<div class="contenidoForm1 rounded-top">
			<h2 class="text-center tituloForm text-white">
				<strong>Nueva Tarea</strong>
			</h2>
		</div>
	</div>

	<div class="container">
		<form enctype="multipart/form-data" th:action="@{/teacher/addTasks}" method="post" >
			<div>
            	<h3>Añadir datos de la Tarea</h3>
           	</div>	
            <div class="row">
    			<div class="col">
            <!-- id, username, password, enabled, name, surname1, surname2, dni, email, picture -->
            	<input type="text" id="id" hidden>
                <label for="name" class="text-center">Nombre:</label> 
                <input type="text" class="form-control" name="name" placeholder="Nombre de la tarea..." id="name" required>
            </div>
            </div>
            <div class="row">
    			<div class="col">
          
            	<label for="description" class="text-center">Descripcion:</label>
            	<textarea class="form-control" name="description" placeholder="Descipcion..." id="description" required></textarea>
            
            </div>
            </div>
            
            <div class="row">
    			<div class="col">
		          
		            	<label for="score">Puntuacion:</label>
		            	<input type="text" class="form-control" name="score" placeholder="Puntuacion..." id="score" required>
		            </div>
		            <div class="col">
		           
		            	<label for="type">Tipo de Tarea:</label>
		            	<input type="text" class="form-control" name="type" placeholder="Tipo de Tarea..." id="type" required>
		            
            	</div>
            </div>
            
             <div class="row">
    			<div class="col">
            
            	<label for="creationDate">Fecha de creacion</label>
            	<input type="date" class="form-control" name="creationDate" placeholder="Fecha de creacion..." id="creationDate">
            </div>
            <div class="col">
				<label for="deadline">Fecha de Finalización</label>
				<input type="date" class="form-control" name="deadline" id="deadline" placeholder="Fecha de finalizacion...">
			</div>
			
			</div>
             <div class="row">
    			<div class="col">
            <div class="form-group">
            	<label for="completed">Completado</label>
            	<div class="form-check">
					  <input class="form-check-input" type="radio" name="completed" id="completed" value="true" >
					  <label class="form-check-label" for="completed">
					    Yes
					  </label>
					</div>
					<div class="form-check">
					  <input class="form-check-input" type="radio" name="completed" id="completed" value="flase" checked>
					  <label class="form-check-label" for="completed">
					    No
					  </label>
				</div>
            	
            </div>
             </div>
              </div>
              
    		<div class="row" >
    			<div class="col">
				<h6 for="subject" class="mb-3">Asignaturas:</h6>
             
		            <div  class="form-check form-check-inline">
					<div class="row" >
					<div class="col">
						<input class="form-check-input" type=radio th:value="${subject.name}" name="subject" >
						<label class="form-check-label" for="subject" th:value="${subject.name}" name="subject" th:text="${subject.name}"></label>
						</div>
					</div>	
					</div>
            </div>
            <div class="col">
				<h6 for="subject" class="mb-3">Alumnos:</h6>
             
		            <div  class="form-check form-check-inline" th:each="student:${students}">
					<div class="row" >
					<div class="col">
						<input class="form-check-input" type=radio th:value="${student.id}+': '+${student.name}" name="student" >
						<label class="form-check-label" for="student" th:value="${student.id}" name="student" th:text="${student.name}"></label>
						<input type="hidden" for="studentId" th:value="${student.id}" name="studentId" />
						</div>
					</div>	
					</div>
            </div>
            </div>
       	
            <div>
            	<input type="submit" class="btn btn-primary" value="Crear" />
            	<a th:href="@{'/teacher/studentsList'}" class="btn btn-outline-danger">Volver</a>
  
			</div>
   		</form>
		
	
	</div>

