<div class="container">
	<form class="form col-md-6 offset-md-3" enctype="multipart/form-data" th:action="@{/admin/addUser}" method="post" th:object="${user}">
		<div>
           	<h3 th:if="${!isEdit}" class="titulo">A&ntilde;adir datos de nuevo usuario</h3>
           	<h3 th:if="${isEdit}" class="titulo">Modificar datos del usuario</h3>
		</div>	
		<div class="form-group">
           	<input th:if="${!isEdit}" type="text" th:value="${user.id}" id="id" hidden>
           	<input th:if="${isEdit}" type="text" th:field="*{id}" id="id" hidden>
           	<input th:if="${isEdit}" type="text" th:field="*{picture}" id="picture" hidden>
            <label for="username" class="text-center">Nombre de usuario</label>
            <input th:if="${!isEdit}" type="text" class="form-control" name="username" placeholder="Nombre de usuario" id="username" maxlength="10" minlength="5" required>
			<input th:if="${isEdit}" class="form-control" type="text" name="username" th:field="*{username}" id="username" maxlength="10" minlength="5" readonly>
		</div>
		<div class="form-group">
			<label for="password" class="text-center">Contrase&ntilde;a</label>
			<input type="password" class="form-control" name="password" placeholder="Contrase&ntilde;a" id="password" maxlength="10" minlength="5" required>
		</div>
		<div class="form-group">
         	<label for="name">Nombre</label>
         	<input th:if="${!isEdit}" class="form-control" type="text" name="name" placeholder="Nombre" id="name" maxlength="25" minlength="2" required>
         	<input th:if="${isEdit}" class="form-control" type="text" name="name" th:field="*{name}" id="name" maxlength="25" minlength="2" required>
		</div>
		<div class="form-group">
         	<label for="surname1">Primer apellido</label>
         	<input th:if="${!isEdit}" class="form-control" type="text" name="surname1" placeholder="Primer apellido" id="surname1" maxlength="25" minlength="2" required>
         	<input th:if="${isEdit}" class="form-control" type="text" name="surname1" th:field="*{surname1}" id="surname1" maxlength="25" minlength="2" required>
         </div>
		<div class="form-group">
         	<label for="surname2">Segundo apellido</label>
         	<input th:if="${!isEdit}" class="form-control" type="text" name="surname2" placeholder="Segundo apellido" id="surname2" maxlength="25" minlength="2">
         	<input th:if="${isEdit}" class="form-control" type="text" name="surname2" th:field="*{surname2}" id="surname2" maxlength="25" minlength="2">
         </div>
		<div class="form-group">
			<label for="birthday">Fecha de nacimiento</label>
			<input th:if="${!isEdit}" class="form-control" type="date" name="birthday" id="birthday" required>
			<input th:if="${isEdit}" class="form-control" type="date" name="birthday" th:field="*{birthday}" id="birthday" required>
		</div>
		<div class="form-group">
         	<label for="dni">D. N. I.</label>
         	<input th:if="${!isEdit}" class="form-control" type="text" name="dni" placeholder="DNI" id="dni" maxlength="9" minlength="9" required>
         	<input th:if="${isEdit}" class="form-control" type="text" name="dni" th:field="*{dni}" id="dni" maxlength="9" minlength="9" required>
		</div>
		<div class="form-group">
			<label for="email" class="text-center">Email</label>
         	<input th:if="${!isEdit}" class="form-control" type="email" name="email" placeholder="Email" id="email" required>
         	<input th:if="${isEdit}" class="form-control" type="email" name="email" th:field="*{email}" id="email" required>
		</div>
         <div class="form-group">
			<h6 for="role" class="mb-3">Rol:</h6>
			<div class="row" th:each="role:${roles}">
				<input type="radio" class="col-1" th:value="${role.role}" name="role" th:text="${role.role}" required>
			</div>
		</div>
		<div class="form-group">
			<h6 for="course" class="mb-3">Cursos:</h6>
			<div class="row" th:each="course:${courses}">
				<input type="checkbox" class="ml-4" th:value="${course.name}" name="course" th:text="${course.name}">
			</div>
		</div>
		<div class="form-group">
			<h6 for="classes" class="mb-3">Clases:</h6>
			<div class="row" th:each="classroom:${classrooms}" >
				<input type="checkbox" class="ml-4" th:value="${classroom.name}" name="classroom" th:text="${classroom.name}">
			</div>
		</div>
		<div class="form-group">
			<h6 for="subject" class="mb-3">Asignaturas:</h6>
			<div class="row" th:each="subject:${subjects}">
				<input type=checkbox class="ml-4" th:value="${subject.name}" name="subject" th:text="${subject.name}">
			</div>	
		</div>
		<div class="form-group">
			<label for="picture">Foto</label>
			<input th:if="${!isEdit}" type="file" name="file" class="form-control-file" id="picture" required>
			<input th:if="${isEdit}" type="file" name="file" class="form-control-file" id="picture">
		</div>
		<div>
         	<input type="submit" class="btn adminColor" value="Añadir" />
		</div>
	</form>
</div>