	<div class="container-fluid rounded-top" id="courseClassForm">
		<div class="contenidoForm5">
			<div class="container-fluid contenidoForm1 rounded-top">
				<h3 class="text-center tituloForm text-white">
					<strong>Cursos y Clases</strong>
				</h3>
			</div>
		</div>
		<div class="container-fluid contenidoForm2">
			<form th:action="@{/teacher/courseClass}" method="post" th:object="${classroom}">
				<input type="text" th:value="${user.id}" id="id" hidden>
				<select class="form-control form-control-lg" name="classroom" style="text-align: center" size="3" required>
					<option class="p-2" th:each="classroom:${classrooms}" th:text="${classroom.name}" name="classroomName" th:value="${classroom.name}"></option>
				</select>
	  			<div class="row justify-content-center mt-3">
					<input type="submit" class="login btn btn-primary" value="Seleccionar"/>
				</div>
			</form>
		</div>
	</div>
