<link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
<div class="container-fluid" id="forgetPasswordForm">
	<div class="row justify-content-center align-items-center" style="height:100vh">
		<div class="card w-25">
	    	<div class="card-body">
	    		<div class="card-text alert alert-warning text-justify bg-danger text-white" role="alert" th:if="${info!=null}" th:text="${info}"></div>
	            <form class="forms" th:action="@{/forgetPassword}" method="post">
	            	<div class="form-group col-12">
	            		<h4 class="text-center">Recupera tu contrase&ntilde;a</h4>
	            		<p class="text-justify">Introduce tu nombre de usuario y te enviaremos una nueva contrase&ntilde;a al correo electr&oacute;nico asociado a tu cuenta.</p>
	            	</div>
	                <div class="form-group col-12">
	                	<label for="username" class="font-weight-bold text-center"></label>
	                    <input type="text" class="form-control col-12" name="username" placeholder="Nombre de usuario" id="username" required>
	                </div><br>
	                <div class="row justify-content-around">
	                	 <div class="col-md-6 col-12">
				    		<input class="welcome btn btn-primary ml-lg-4" type="submit" value="Enviar">
					    </div>
					    <div class="col-md-6 col-12">
					    	<a href="/"><input class="welcomeExit btn btn-danger ml-lg-3" value="Volver"></a>
					    </div>
	                </div>
	            </form>
	          </div>
	          
		</div>
	</div>
</div>	