<link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
<div class="container-fluid" id="loginForm">
	<div class="row justify-content-center align-items-center" style="height:100vh">
		<div class="card card col-10 p-0">
	    	<div class="card-body col-12">
	        	<div>
	      			<img class="img-fluid mx-auto d-block" src="img/LogoTFTSoloCUBOLog.png" alt="Logo Alula" width="100">
		    	</div>
	            <form class="forms" th:action="@{/login}" method="post">
	                <div class="form-group">
						<label for="username">Nombre:</label>
	                    <input type="text" class="form-control" name="username" placeholder="Nombre" id="username" required>
	                </div>
	                <div class="form-group">
						<label for="password">Contrase&ntilde;a:</label>
	                    <input type="password" class="form-control" name="password" placeholder="Contrase&ntilde;a" id="password" required>
	                </div>
	                <div class="form-group">
	                	<a th:href="@{/forgetPassword}" class=""><small>He olvidado mi contrase&ntilde;a</small></a>
	                </div>
	                <div>
						<input type="submit" class="login btn btn-primary btn-block" value="Entrar" />
					</div>
	            </form>
	            <div id="textoInfo" class='alert alert-info text-justify' role="alert" th:if="${info!=null}" th:text="${info}"></div>
				<div id="textoInfo" class='alert alert-warning text-justify' role="alert" th:if="${info2!=null}" th:text="${info2}"></div>
          	</div>
		</div>
	</div>
</div>	

