<div class="container">
	<form class="forms form col-md-6 offset-md-3" th:action="@{/user/newPassword}" method="post">
		<label>Contrase&ntilde;a actual</label>
		<div class="form-group"> 
			<input type="password" class="form-control" name="currentPassword" maxlength="10" minlength="5" required> 
		</div> 
		<label>Nueva contrase&ntilde;a</label>
		<div class="form-group"> 
			<input type="password" class="form-control" name="newPassword" maxlength="10" minlength="5" required> 
		</div> 
		<div>
			<input type="submit" class="btn btn-primary" value="Cambiar" />
			<input type="reset" class="btn btn-danger" value="Borrar">
		</div>
	</form>
</div>