<h4 class="mt-4 titulo" th:text="${title}"></h4>
<div class="card mb-1" style="display: inline-block;" th:each="classroom:${classrooms}">
	<div class="card-header">
		<div class="row">
		    <h5 class="col-auto mr-auto card-title" th:text="${classroom.name}"></h5>
		    <a th:href="@{updateClassroom/{id}(id=${classroom.id})}" class="col-auto"><i class="fas fa-edit"></i></a>
		</div>
	</div>
</div>
