<h4 class="col-2 mt-4 titulo" th:text="${title}"></h4>
<div class="card mb-1" style="width: 15rem; display: inline-block;" th:each="course:${courses}">
	<div class="card-header">
		<div class="row">
		    <h5 class="col-auto mr-auto card-title" th:text="${course.name}"></h5>
		    <a th:href="@{updateCourse/{id}(id=${course.id})}" class="col-auto"><i class="fas fa-edit"></i></a>
		</div>
	</div>
</div>
