<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Carla Dorado, Alejandro Bosque, Luis Castrillo, Rubén Contreras">
	<meta name="description" content="Página web | Aprende volando, disfruta enseñando">
	<meta name="keywords" content="aprende, enseña, colegio, Aprende volando, disfruta enseñando">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Administrador | Alula</title>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="/css/css.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/admin.css">
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body>
	<nav class="navbar navbar-dark menuAdmin navbar-expand-lg">
		<div class="mr-5">
			<a href="#">
				<img class="img-fluid responsive-img logoImg" style="margin-left: 0px !important;" src="/img/LogoTFTSoloCUBOLogMovil.png">
			</a>
		</div>
		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		   <span class="navbar-toggler-icon"></span>
		 </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link text-white ml-md-3 opcMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuarios</a>
						<div class="dropdown-menu opcMenuDespDiv" aria-labelledby="navbarDropdown">
							<a class="dropdown-item opcMenuDesp" th:href="@{/admin/teachers}">Profesores</a>
							<a class="dropdown-item opcMenuDesp" th:href="@{/admin/students}">Alumnos</a>
							<a class="dropdown-item opcMenuDesp" th:href="@{/admin/admins}">Administradores</a>
							<a class="dropdown-item opcMenuDesp" th:href="@{/admin/addUser}" title="Añadir usuario">Añadir nuevo usuario</a>
							<a class="dropdown-item opcMenuDesp" th:href="@{/admin/addAdmin}" title="Añadir administrador">Añadir nuevo administrador</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link text-white ml-md-3 opcMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cursos</a>
						<div class="dropdown-menu opcMenuDespDiv" aria-labelledby="navbarDropdown">
							<a class="dropdown-item opcMenuDesp" th:href="@{/admin/courses}">Cursos</a>
							<a class="dropdown-item opcMenuDesp" th:href="@{/admin/addCourse}">Añadir curso</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link text-white ml-md-3 opcMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clases</a>
						<div class="dropdown-menu opcMenuDespDiv" aria-labelledby="navbarDropdown">
							<a class="dropdown-item opcMenuDesp" th:href="@{/admin/classrooms}">Clases</a>
							<a class="dropdown-item opcMenuDesp" th:href="@{/admin/addClassroom}">Añadir clase</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link text-white ml-md-3 opcMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Asignaturas</a>
						<div class="dropdown-menu opcMenuDespDiv" aria-labelledby="navbarDropdown">
							<a class="dropdown-item opcMenuDesp" th:href="@{/admin/subjects}">Asignaturas</a>
							<a class="dropdown-item opcMenuDesp" th:href="@{/admin/addSubject}">Añadir asignatura</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="divLog col-md-4 float-right">
					<div class="row">
						<h6 class="text-white nombres d-md-inline-block col-md-10 pl-0" th:text="${'Administrador: ' + admin.surname1 +  ', ' + admin.name}"></h6>
						<a sec:authorize="isAuthenticated()" class="col-md-2 pl-0" th:href="@{/logout}"><button class="btn d-md-inline-block col-button adminColor text-white log entrarSalir"><i class="fas fa-sign-out-alt"></i></button></a>
					</div>
				</div>
		</div>
		
	</nav>
	
	<div class="container containerPerso" th:if="${template != null}">
		<div id="textoInfo" class='alert alert-info text-justify' role="alert" th:if="${info!=null}" th:text="${info}"></div>
		<div th:replace="${template}"></div>
	</div>
	<footer class="row mt-5" style="bottom:0 !important;position:relative !important;">
			<div class="container-fluid bgBlue py-3">
				<div class="container">
					<div class="row">

						<div class="col-md-4 col-12 mt-4">
							<div class="row py-0">
								<div
									class="col-xl-3 col-lg-4 col-md-4 col-12 hidden-md-down text-center">
									<img class="img-fluid responsive-img"
										src="/img/icono-colegio.png"
										alt="icono de un colegio de ejemplo">
								</div>
								<div class="col-12 col-md-5 text-white">
									<div class="pt-2 copyright">
										<p class=" txt-1´2em">Colegio Los Olivos</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-7 ml-3 ml-md-5 mt-md-3 descripcionDiv">
							<p class="descripcion">Esperemos que os vaya genial en este
								curso alumnado del centro, Secretaria 9:00 h - 13:30 h</p>
						</div>

						<div class="rrss mt-lg-5 mt-md-5">
							<div class="d-inline-block iconos col-12">

								<div
									class="bg-circle-outline d-inline-block text-center facebook link">
									<a href="https://www.facebook.com/"> <i
										class="fab fa-facebook-f txt-1´5em mt-1"></i>
									</a>
								</div>

								<div
									class="bg-circle-outline d-inline-block text-center twitter link">
									<a href="https://twitter.com/"> <i
										class="fab fa-twitter text-white txt-1´5em mt-1"></i>
									</a>
								</div>

								<div
									class="bg-circle-outline d-inline-block text-center linkedIn link">
									<a href="https://www.linkedin.com/company/"> <i
										class="fab fa-linkedin-in txt-1´5em mt-1"></i>
									</a>
								</div>

								<div
									class="bg-circle-outline d-inline-block text-center google link">
									<a href="https://www.google.com/"> <i
										class="fab fa-google text-white txt-1´5em mt-1"></i>
									</a>
								</div>

							</div>
						</div>

						<!-- <div class="row col-12 ml-1">
							<div class=" mt-4">
								<img class="img-fluid responsive-img" src="/img/pizarra.jpg" alt="imagen ejemplo 1">
							</div>
						</div> -->

					</div>
				</div>
			</div>
		</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="/js/js.js"></script>
</body>
</html>