<h4 class="col-2 mt-4 titulo" th:text="${title}"></h4>
<div class="card mb-1" style="width: 20rem; display: inline-block;" th:each="subject:${subjects}">
	<div class="card-header">
		<div class="row">
		    <h6 class="col-auto mr-auto card-title" th:text="${subject.name}"></h6>
		    <a th:href="@{updateSubject/{id}(id=${subject.id})}" class="col-auto"><i class="fas fa-edit"></i></a>
		</div>
	</div>
	<div class="card-body">
		<img class="card-img-bottom img-thumbnail w-25 rounded mx-auto d-block" th:src="@{'/uploads/img/' + ${subject.picture}}" alt="Asignatura">
	</div>
	
</div>