<h4 class="col-2 mt-4 titulo" th:text="${title}"></h4>
<div class="card mb-1" style="width: 20rem; display: inline-block;" th:each="user:${users}">
	<div class="card-header">
		<div class="row">
		    <h5 class="col-auto mr-auto card-title">
		    	<span th:text="${user.id + ' - ' + user.username}"></span>
		    </h5>
		    <a th:href="@{updateUser/{id}(id=${user.id})}" class="col-auto"><i class="fas fa-edit" title="Editar"></i></a>
		    <a th:attr="data-id=${user.id}" data-toggle="modal" data-target="#delete" class="col-auto text-primary" href="#"><i class="fas fa-trash-alt" title="Borrar"></i></a>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-3">
				<img class="img-thumbnail rounded mx-auto d-block" th:src="@{'/uploads/img/' + ${user.picture}}" alt="Usuario">
			</div>
			<div class="col-9">
				<p class="card-text nameUser" th:text="${user.surname1 + ' ' + user.surname2 + ', ' + user.name}"></p>
				<p class="card-text nameUser" th:text="${user.email}"></p>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">¿Desea eliminar este usuario?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-danger btn-ok">Eliminar</a>
      </div>
    </div>
  </div>
</div>