.menuAdmin{  
    background-color: #001c29 !important;
}
.opcMenu{
    transition: ease-in-out 450ms;
    border-bottom: 1px solid #001c29;
    font-size: 1.1em;
}
.opcMenu:hover{
    transition: ease-in-out 450ms;
    border-bottom: 1px solid white;
}
.opcMenuDesp{
    transition: ease-in-out 250ms;
    border-bottom:1px solid #fff !important;
    padding-bottom: 10px;
}
.opcMenuDesp:hover{
    transition: ease-in-out 250ms;
    background: white;
    border-bottom:1px solid #001c29 !important;
}
.opcMenuDespDiv{
    padding: 0px !important;
    padding-top: 5px !important;
}
.iconLog{
    font-size: 1.3em !important;
}
.entrarSalir{
    transition: ease-in-out 350ms;
}
.entrarSalir:hover{
    color: #001c29 !important;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    transition: ease-in-out 350ms;
}
.log > i{
    font-size: 1.1em !important;
}
.divLog{
    margin-left: 30% !important;
}
.nombres{
    margin-top: 15px;
    display: block;
    font-size: 1.1em !important;
}

.nameUser{
	font-size: 0.8em !important;
}

.titulo{
    margin-bottom: 30px;
    margin-top: 40px;
}
.adminColor{
    background: #001c29 !important;
    border:1px solid #fff;
    color: #fff;
    transition: ease-in-out 350ms;
}
.adminColor:hover{
    background: #fff !important;
    border:1px solid #001c29;
    color: #001c29;
    transition: ease-in-out 350ms;
}
.theadBg{
    background: #001c29 !important;
    color: #fff;
    border:1px solid #001c29 !important;
}
.theadBg > tr >th{
    border: 1px solid #001c29 !important;
}
.containerPerso{
    margin: none !important;
    overflow: scroll;
    padding: 0px !important;
}

.card-body{
	background-color: #F1F1F1 !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    }
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #001c29;
    border: 1px solid #030303;
}
::-webkit-scrollbar-thumb:hover {
    background: #021720;
}
::-webkit-scrollbar-thumb:active {
    background: #000c11;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}
::-webkit-scrollbar-track:hover {
    background: #ffffff;
}
::-webkit-scrollbar-track:active {
    background: #ffffff;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
.col-button{
    width: 50px;
    margin-top: 10px;
}
@media screen and (max-width: 1100px) and (min-width: 991px) { 

    .divLog{
        margin-left: 20% !important;
    }
}
@media screen and (max-width: 990px) and (min-width: 0px) { 

    .col-button{
        width: 100%;
        margin-top: 10px;
    }
}