body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important; 
}
.welcome{
  border-color: #0583F2 !important;
  background-color: #00aeff !important;
  font-size: 1.2em !important;
  transition: ease-in-out 350ms;
  padding: 1.5% !important;
  width: 90px !important;
  height: 50px;
  transition: ease-in-out 350ms;
}
.welcome:hover{
  border-color: #0583F2 !important;
  background-color: white !important;
  font-size: 1.2em !important;
  color: black !important;
  transition: ease-in-out 350ms;
}

.login {
  border-color: #0583F2 !important;
  background-color: #00aeff !important;
  font-size: 1.2em !important;
  transition: ease-in-out 350ms;
  padding: 1.5% !important;
}

.login:hover{
  border-color: #0583F2 !important;
  background-color: white !important;
  font-size: 1.2em !important;
  color: black !important;
  transition: ease-in-out 350ms;
}
.welcomeExit{
  background-color: #d40414 !important;
  border: 1px black solid !important;
  width: 90px;
  height: 50px;
  color: white;
  transition: ease-in-out 350ms;
}
.welcomeExit:hover{
  background-color: #fff !important;
  border: 1px #d40414 solid !important;
  color: black;
  transition: ease-in-out 350ms;
}
.exit {
  background-color: #d40414 !important;
  border: 1px black solid !important;
}

.exit:hover{
  background-color: #fff !important;
  border: 1px #d40414 solid !important;
  color: black;
  font-weight: bolder !important;
}

@media screen and (max-width: 755px) and (min-width: 0px) {  
  .welcomeExit{
    width: 100% !important;
    
  }
  .welcome{
    width: 100% !important;
    margin-bottom: 20px !important;
  }
}

