body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important; 
}
.entrarSalir{
    font-size: 1.5em;
    transition: ease-in-out 350ms;
}
.entrarSalir:hover{
    transition: ease-in-out 350ms;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.txt-1´5em{
    font-size: 1.5em;
}
.txt-1´2em{
    font-size: 1.2em;
}
.container{
    max-width: 3840px !important;
}
#container{
    margin-top: 2%;
    height: 900px;
}
#navbar1{
    height: 100px;
    background: #00aeff;
}
.addTask{
    position: absolute;
    top: 0;
    margin-top: 22px;
    right: 0;
    margin-right: 60px;
}
.botonAñadir{
    background:#00aeff !important;
    color: white !important;
    border: 1px solid white !important;
    transition: ease-in-out 350ms !important;
    z-index: 100;
}
.botonAñadir:hover{
    background:white !important;
    color: #00aeff !important;
    border: 1px solid white !important;
    transition: ease-in-out 350ms !important;
}
.alerta{
    margin-bottom: 0px !important;
}

#barra{
    margin-bottom: 12%;
}
.mostrar{
    background: #00aeff !important;
    width: 100% !important;
}
.mostrar a{
    color: white !important;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}
.history{
    margin-top: 30px;
    color: #fff;
}
#logo{
    height: 100px;
    background: #fff;
    border: 1px solid #00aeff;
    min-width: 200px !important;
}
#logo > img{
    height: 80px;
}
#logo2{
    height: 100px;
    background: #fff;
    border: 1px solid #00aeff;
    width: 20% !important;
}
.logoImg{
    margin-left: 30%;
    margin-top: 4px;
}
#textoBienvenida{
    margin-top: 2%;
    height: 90px; /* Sobran 770 px altura */
}
.liUser{
    width: 130px;
}
.userLogoLista{
    float: right;
}
.userLogoListaPeq{
    margin-left: 43%;
}
.tituloForm > strong{
    color: white;
}
.contenidoForm1{
    background: #00aeff;
    padding-bottom: 2% !important;
    padding-top: 20px;
    position: sticky;
    z-index: 20;
    top: 0;
}

.caracteristicas3{
    float: left;
    margin-top: 30px;
}
.contenidoForm3{
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 135px;
}
.contenidoForm5{
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 80px;
}
.contenidoForm2{
   margin-top: 40px;
}
#courseClassForm{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.enlace span{
    text-decoration: none;
    color: #000 !important;
}
.no-padding-right{
    padding-right: 0px !important;
}
.imgAsignaturas{
    width: 130px;
}
#user{
    width: 143px;
    height: 90px;
    margin-top: 0px !important;
    padding: 0px !important;
}
#user > img{
    height:90px;
    cursor: pointer;
    border: 2px solid white;
    background: #0d70a6 !important;
    margin-top: 5px;
}
.log{
    float: right !important;
    color: #f8f8f8;
}
.btn-effect{
    border-color: #0583F2 !important;
    background-color: #00aeff !important;
    font-size: 1.2em !important;
    transition: ease-in-out 350ms;
    padding-bottom: 3% !important;
}
.btn-effect1{
    border-color: #0583F2 !important;
    background-color: #00aeff !important;
    font-size: 1.2em !important;
    transition: ease-in-out 350ms;
    padding-bottom: 3% !important;
}
.btn-effect:hover{
    background-color: #0077af !important;
    color: #fff !important;
    border-color: #0077af !important;
    transition: ease-in-out 350ms;
}
.btn-effect1:hover{
    background-color: #0077af !important;
    color: #fff !important;
    border-color: #82b4f7 !important;
    transition: ease-in-out 350ms;
}
#zonaMovil{
    height: 460px;
    background: white;
    padding: 0% !important;
    margin-top: 3%;
    overflow-y: auto;
}
.contenedorTabla{
    overflow-x: auto;
     white-space: nowrap;
    padding: 0px !important;
}
.contenedorStud1{
    overflow-x: none;
    max-width: 200px;
    white-space: nowrap;
    padding: 0px !important;
}
.contStudentList{
    padding: 0px !important;
    margin: 0px !important;
}
.tablaAlumno {
    white-space: nowrap;
    max-width: 99% !important;
   /*  overflow-x: scroll; */
}
.margin-profile{
    margin-top: 5%;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #00aeff;
  border: 1px solid #030303;
}
::-webkit-scrollbar-thumb:hover {
  background: #177cc8;
}
::-webkit-scrollbar-thumb:active {
  background: #044893;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.divBotones{
    box-shadow: 3px 3px 4px -3px rgb(194, 193, 193);
    height: 460px;
    background: white;
    padding: 0% !important;
    margin-top: 3%;
}
.cal1{
    margin-top: 0%;
    padding-top: 0%;
}

#btnAsig:disabled{
    background: #54697E;
}
#btnAsig2:disabled{
    background: #54697E;
}
#btnAlum:disabled{
    background: #54697E;
}
#btnCurso:disabled{
    background: #54697E;
}
#btnCurso2:disabled{
    background: #54697E;
}

    /*Footer*/

footer{
    height: 155px;
    background: #f8f9fa !important;
    border-top: 1px solid rgb(207, 207, 207);

}
.bgBlue{
    background: #f8f9fa !important;
}
.header-font {
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fd1506;
}
.rrss{
    margin-left: 13%;
}

.facebook{
    transition: ease-in-out 350ms;
    background: #3b5998;
}
.facebook:hover{
    transition: ease-in-out 350ms;
    cursor: pointer;
    background: white;
}
.facebook:hover i {
    color:#3b5998 !important;
}
.twitter{
    transition: ease-in-out 350ms;
    background: #4099FF;
}
.twitter:hover{
    transition: ease-in-out 350ms;
    cursor: pointer;
    background: white;
}
.twitter:hover i {
    color:#4099FF !important;
}
.linkedIn{
    transition: ease-in-out 350ms;
    background: #0077B5;
}
.linkedIn:hover{
    transition: ease-in-out 350ms;
    cursor: pointer;
    background: white;
}
.linkedIn:hover i {
    color:#0077B5 !important;
}
.google{
    transition: ease-in-out 350ms;
    background: #d34836;
}
.google:hover{
    transition: ease-in-out 350ms;
    cursor: pointer;
    background: white;
    
}
.google:hover i {
    color:#d34836 !important;
}
.bg-primary {
    background-color: #00aeff !important;
}
link{
    float: right !important;
}
.bg-circle{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 14px 4px;
    color: #ececec;
    text-align: center;
    border-radius: 50%;
}
.bg-circle-outline{
    width: 50px;
    height: 50px;
    color:whitesmoke;
    padding: 8px 2px;
    border: 2px solid;
    border-color: whitesmoke;
    border-radius: 50%;
}
.bg-circle a, a:hover, .media a:focus{
    text-decoration: none !important;
    outline: none;
    color: #ececec;
}
.bg-circle-outline a, a:hover, .media a:focus{
    text-decoration: none !important;
    outline: none;
    color: #ececec;
}
.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D;
}
.copyright > p{
    background-color: #f8f9fa !important;
    color: #000;
    border: none !important;
}
.descripcion{
    border: 1px solid #000 !important;
    background-color: #f9f9fa !important;
    color: #000;
}
.descripcionDiv > p{
    transition: ease-in-out 350ms;
    padding: 3% !important;
}
.descripcionDiv > p:hover{
    transition: ease-in-out 350ms;
    border: 1px solid black !important;
    background-color: #00aeff !important;
    color: white;
}
.botones{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}


/* Footer */ /* 1º */
@media screen and (max-width: 420px) and (min-width: 0px) {  
    /* Footer */
    .rrss{
        margin-top: 20px;
        margin-left: 14%;
    }
    #profileImg {
        width: 20% !important;
        float: left;
        border: 2px solid white;
        background: #0d70a6 !important;
    }
    .userLogoListaPeq{
        margin-left: 36%;
    }
    .caracteristicas{
        float: left;
        margin-top: 30px !important;
    }
    .entrarSalir{
        font-size: 1em !important;
        transition: ease-in-out 350ms;
    }
    .entrarSalir:hover{
        font-size: 1em !important;
        transition: ease-in-out 350ms;
    }
    #btnAsigPeq:disabled{
        background: #54697E;
    }
    #btnAsigPeq2{
        display: none;
    }
    #btnAlumPeq:disabled{
        background: #54697E;
    }
    #btnCursoPeq:disabled{
        background: #54697E;
    }
    #btnCursoPeq2{
        display: none;
    }
    .tituloForm1{
        left: 0 !important;
    }
    .addTask{
        margin-right: 20px !important;
    }
    .divBotones{
        box-shadow: none !important;
        height: 460px;
        background: white;
        padding: 0% !important;
        margin-top: 3%;
    }
    .contenidoForm3{
        background: #fff;
        position: sticky;
        top: 0;
        z-index: 100;
        height: 70px;
    }
    .margin-profile{
        margin-top: 15%;
    }
    .marginPeq{
        margin-top:34% !important;
    }
}
/* 2º */
@media screen and (max-width: 421px) and (min-width: 0px) {
    #logo2{
        height: 100px;
        border: 1px solid #00aeff;
        background: none;
        width: 100px !important;
    }
    #btnAsigPeq:disabled{
        background: #54697E;
    }
    #btnAsigPeq2{
        display: none;
    }
    #btnAlumPeq:disabled{
        background: #54697E;
    }
    #btnCursoPeq:disabled{
        background: #54697E;
    }
    #btnCursoPeq2{
        display: none;
    }
    .tituloForm1{
        left: 0 !important;
    }
    .addTask{
        margin-right: 20px !important;
    }
    .divBotones{
        height: auto;
        background: none !important;
        padding: 0% !important;
        margin-top: 3%;
    }
    .contenidoForm3{
        background: #fff;
        position: sticky;
        top: 0;
        z-index: 100;
        height: 70px;
    }
    .margin-profile{
        margin-top: 15%;
    }
    .marginPeq{
        margin-top:34% !important;
    }
}
/* 3º */
@media screen and (max-width: 754px) and (min-width: 421px) {  
    /* Footer */
    .rrss{
        margin-top: 20px;
        margin-left: 26%;
    }
    .caracteristicas{
        float: left;
        margin-top: 30px !important;
    }
    /* Imagen usuario Menú */
    #profileImg {
        width: 20% !important;
        float: left;
        border: 2px solid white;
        background: #0d70a6 !important;
    }
    .entrarSalir{
        font-size: 1em !important;
        transition: ease-in-out 350ms;
    }
    .entrarSalir:hover{
        font-size: 1em !important;
        transition: ease-in-out 350ms;
    }
    #logo2{
        height: 100px;
        border: 1px solid #00aeff;
        background: none;
        width: 100px !important;
    }
    .divImgAsig{
        margin-left: 32%;
        margin-top: 30px;
    }
    #btnAsigPeq:disabled{
        background: #54697E;
    }
    #btnAsigPeq2{
        display: none;
    }
    #btnAlumPeq:disabled{
        background: #54697E;
    }
    #btnCursoPeq:disabled{
        background: #54697E;
    }
    #btnCursoPeq2{
        display: none;
    }
    .tituloForm1{
        left: 0 !important;
    }
    .addTask{
        margin-right: 20px !important;
    }
    .divBotones{
        height: auto;
        background: none !important;
        padding: 0% !important;
        margin-top: 3%;
    }
    .divBotones{
        box-shadow: none !important;
        height: 460px;
        background: white;
        padding: 0% !important;
        margin-top: 3%;
    }
    .contenidoForm3{
        background: #fff;
        position: sticky;
        top: 0;
        z-index: 100;
        height: 70px;
    }
    .margin-profile{
        margin-top: 15%;
    }
    .marginPeq{
        margin-top:34% !important;
    }
}
/* 4º */
@media screen and (max-width: 990px) and (min-width: 755px) {  
    /* Footer */
    .rrss{
        margin-left: 35% !important;
        margin-top: 20px;

    }
    /* Imagen usuario Menú */
    #profileImg {
        width: 20% !important;
        float: left;
        border: 2px solid white;
        background: #0d70a6 !important;
    }
    .divBotones{
        height: auto;
        background: none !important;
        padding: 0% !important;
        margin-top: 3%;
    }
    .divBotones{
        box-shadow: none !important;
        height: 460px;
        background: white;
        padding: 0% !important;
        margin-top: 3%;
    }
    .contenidoForm3{
        background: #fff;
        position: sticky;
        top: 0;
        z-index: 100;
        height: 70px;
    }
    .margin-profile{
        margin-top: 15%;
    }
    .marginPeq{
        margin-top:34% !important;
    }
} 
/* 5º */
@media screen and (max-width: 1151px) and (min-width: 991px) {  
    /* Div de descripción */
    .descripcionDiv{
        margin-top: 4%;
    }
    /* Footer */
    .rrss{
        margin-left: 9% !important;
    }
    /* Imagen usuario Menú */
    #user > img{
        height:90px;
        cursor: pointer;
        border: 2px solid white;
        background: #0d70a6 !important;
    }
    /* Calendario */
    .calendario{
        display: none !important;
    }
    .divBotones{
        height: auto;
        background: none !important;
        padding: 0% !important;
        margin-top: 3%;
    }
    .divBotones{
        box-shadow: none !important;
        height: 460px;
        background: white;
        padding: 0% !important;
        margin-top: 3%;
    }
    .contenidoForm3{
        background: #fff;
        position: sticky;
        top: 0;
        z-index: 100;
        height: 70px;
    }
    .margin-profile{
        margin-top: 15%;
    }
    .caracteristicas{
        float: left;
        margin-top: 70px !important;
    }
    
}
