body, html {
  margin: 0px;
  padding: 0px;
  
}

#colors{
  width: 100%;
  height: 100vh;
  background: #000;
  background-size: 100% 60%;
  background-position: center top, center bottom;
  background-repeat: no-repeat;
}

.col1{
  background-color: #d40414;
}

.card-body {
	background-color: #e3e3e3;
}
.card{
  width: 400px;
  position: absolute !important;
  z-index: 80 !important;
  opacity: 1 !important;
  top: 15% !important;
  box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.77) !important;
}

