body {
	background: linear-gradient(90deg, #e8e8e8 50%, #3d009e 50%);
}

.portfolio {
	padding: 6%;
	text-align: center;
}

.heading {
	background: #fff;
	padding: 1%;
	text-align: left;
	box-shadow: 0px 0px 4px 0px #545b62;
}

.heading img {
	width: 10%;
}

.bio-info {
	padding: 5%;
	background: #fff;
	box-shadow: 0px 0px 4px 0px #b0b3b7;
}

.name {
	font-family: 'Charmonman', cursive;
	font-weight: 600;
}

.bio-image {
	text-align: center;
}

.bio-image img {
	border-radius: 50%;
}

.bio-content {
	text-align: left;
}

.bio-content p {
	font-weight: 600;
	font-size: 30px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
}

.bio-image:hover .overlay {
	opacity: 1;
}