#contenido{
    padding-left: 3%;
}
#profileTitle{
    margin-bottom: 5%;
}
#profileImg {
    width: 60%;
    float: left;
    border: 2px solid white;
    position: absolute;
    background: #0d70a6 !important;
    margin-left: 20px;
    margin-top: -35px !important;
}
.profileImage{
    width: 25%;
    float: left;
    border: 2px solid white;
    position: absolute;
    background: #0d70a6 !important;
    margin-left: 70% !important;
}
.profileImageStudent{
    width: 30%;
    float: left;
    border: 2px solid white;
    position: absolute;
    background: #0d70a6 !important;
    margin-left: 30%;
    margin-top: 2% !important;
}
#profileImg2{
    width: 60%;
    float: left;
    border: 2px solid white;
    position: absolute;
    background: #0d70a6 !important;
    margin-left: 20px;
}
#contenido{
    background: #00aeff;
    padding-bottom: 8% !important;
    padding-top: 20px;
}
#contenido > div > h2 {
    padding-left: 31%;
    color: white;
    margin: 0px !important;
    padding-top: 3px !important;
    position: absolute;
    margin-top: 15px !important;
    top: 1px;
}
.caracteristicas2{
    margin-top: 20%;
}
p{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important; 
    margin: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-bottom:  0px !important;
    background:none !important;
    text-align:left !important;
    float: left;
}
.label1 {
    float: left;
}
.messages{
    margin-top: 40px !important;
    margin-bottom: 20px !important;
}
.caracteristicas{
    float: left;
    margin-left: 5%;
}
.caracteristicas2 {
    float: left;
    margin-top: 130px;
}
.border-top1{
    border-bottom: 1px solid #0d70a6 !important;
}
.border-top2{
    border-bottom: 1px solid #a11f1f !important;
}
.border-top3{
    border-bottom: 1px solid rgb(250, 249, 183) !important;
}
.th-bgn{
    background: #0d70a6;
    color: white;
}
.bg-student{
    background: rgb(250, 249, 183);
    color: #000000;
}
.th2-bgn{
    background: #a11f1f;
    color: white;
}
.td-bgn{
    background: #fdfdfd;
}
.td-bgn3{
    background: #ffffff;
}
.theadBg3 > tr >th{
    border: 1px solid rgb(250, 249, 183) !important;
}
.theadBg1 > tr >th{
    border: 1px solid #0d70a6 !important;
}
.theadBg2 > tr >th{
    border: 1px solid #a11f1f !important;
}