body, html {
  margin: 0px;
  padding: 0px;
}

.card{
  background-color: #e3e3e3;
  width: 400px;
  position: absolute !important;
  top: 15% !important;
  box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.77) !important;
}

p {
  font-size: 2.0em;
  font-weight: bolder;
}

