<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<div class="mx-auto mt-5" style="width: 400px;">
		<h1>Error: Not found</h1>
		<h5>The page does not exist.</h5>
		<a th:href="@{/}" class="btn btn-danger btn-block mt-4" role="button">Home</a>
	</div>

</body>
</html>