<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang = "es">
<head>
<title>Pizarra | Alula</title>
<meta charset="utf-8">
<meta name="author"
	content="Carla Dorado, Alejandro Bosque, Luis Castrillo, Rubén Contreras">
<meta name="description"
	content="Página web | Aprende volando, disfruta enseñando">
<meta name="keywords"
	content="aprende, enseña, colegio, Aprende volando, disfruta enseñando">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/buttons.css">
<link rel="stylesheet" href="/css/css.css">
<link rel="stylesheet" type="text/css" href="/css/profileCss.css">

<!-- ------------- WARNING: al usar clndr.css algunas etiquetas como los p tienen estilos dados, para cambiarlo usad !important --------------->
<link rel="stylesheet" href="/css/clndr.css">
<!-- ------------- Bootstrap --------------->

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<!-- ------------- Fin Bootstrap --------------->

<!-- ------------- Fontawesome --------------->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
<!-- ------------- Fin Fontawesome --------------->

</head>
<body class="bg-light">

	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Modal Header</h4>
				</div>
				<div class="modal-body">
					<p>Some text in the modal.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

	<!-- ------------------- Header -------------------------- -->


	<!-------------------------------MENÚ PEQUEÑO------------------------------------------->
	<nav class="mostrar d-md-none navbar ">
		<a th:href="@{/dashboard}">
			<div id="logo2">
				<img class="img-fluid responsive-img "
					src="/img/LogoTFTSoloCUBOLogMovil.png">
			</div>
		</a>
		<button class="navbar-toggler custom-toggler" type="button"
			data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class=" mt-5" id="botones">
				<div class="row" sec:authorize="hasAuthority('TEACHER')">
					<div class="botonCurso mt-md-3 col-md-12">
						<a th:href="@{/teacher/}"><button type="button"
								id="btnCursoPeq"
								class="btn btn-effect col-md-10 offset-md-1 mb-4 bg-white text-dark"
								disabled>Cursos</button></a>
					</div>
				</div>
				<div class="row" sec:authorize="hasAuthority('STUDENT')">
					<div class="botonCurso mt-md-3 col-md-12">
						<button type="button" id="btnCursoPeq2"
							class="btn btn-effect col-md-10 offset-md-1 mb-4 bg-white text-dark"
							th:text="${classroom}"></button>
					</div>
				</div>
				<div class="row" sec:authorize="hasAuthority('TEACHER')">
					<div class="botonAsignaturas mt-md-3 col-md-12">
						<a th:href="@{/teacher/subject}"><button id="btnAsigPeq"
								type="button"
								class="btn btn-effect col-md-10 offset-md-1 mb-4 bg-white text-dark"
								disabled>Asignaturas</button></a>
					</div>
				</div>

				<div class="row" sec:authorize="hasAuthority('STUDENT')">
					<div class="botonAsignaturas mt-md-3 col-md-12">
						<a th:href="@{/student/}"><button type="button"
								id="btnAsigPeq2"
								class="btn btn-effect col-md-10 offset-md-1 mb-4 bg-white text-dark"
								disabled>Asignaturas</button></a>
					</div>
				</div>

				<div class="row" sec:authorize="hasAuthority('TEACHER')">
					<div class="botonTareas mt-md-3 col-md-12">
						<a th:href="@{/teacher/listTask}"><button id="btnTareaPeq" type="button" onclick=""
							class="btn btn-effect col-md-10 offset-md-1 mb-4 bg-white text-dark"
							disabled>Tareas</button>
					</div>
				</div>

				<div class="row" sec:authorize="hasAuthority('TEACHER')">
					<div class="botonAlumnos mt-md-3 col-md-12">
						<a th:href="@{/teacher/studentsList}"><button id="btnAlumPeq"
								type="button" onclick=""
								class="btn btn-effect col-md-10 offset-md-1 mb-4 bg-white text-dark"
								disabled>Alumnos</button></a>
					</div>
				</div>

				<div class="row">
					<div class="botonEventos mt-md-3 col-md-12">
						<button type="button" onclick=""
							class="btn btn-effect col-md-10 offset-md-1 mb-4 bg-white text-dark">Eventos</button>
					</div>
				</div>
				<div class="userLogoListaPeq">
					<div sec:authorize="isAuthenticated()" class="nav-item liUser">
						<a th:href="@{/user/profile}" class="nav-link" id="user"><img
							class="rounded-circle img-fluid img-responsive imgUser"
							th:src="@{'/uploads/img/' + ${user.picture}}"
							title="Perfil de usuario" alt="Foto de usuario" /></a>
					</div>
				</div>
				<a sec:authorize="!isAuthenticated()" th:href="@{/login}"
					class="mt-2 col-12 nav-link log" title="Login"><button
						type="button" onclick=""
						class="btn btn-effect col-12 offset-md-1 pt-3 bg-white text-dark">
						<i class="fas fa-sign-out-alt entrarSalir"></i>
					</button></a> <a sec:authorize="isAuthenticated()" th:href="@{/logout}"
					class="mt-2 col-12 nav-link log" title="Logout"><button
						type="button" onclick=""
						class="btn btn-effect col-12 offset-md-1 pt-3 bg-white text-dark">
						<i class="fas fa-sign-in-alt entrarSalir"></i>
					</button></a>
			</div>
		</div>

	</nav>
	<div class="container">
		<!-- ------------------- Menú grande -------------------------- -->
		<nav>
			<div class="row d-none d-md-block" id="navbar1">
				<div class="col-sm-12" id="barra">
					<div class="row">
						<div id="logo2">
							<a th:href="@{/dashboard}"> <img
								class="img-fluid responsive-img logoImg"
								src="/img/LogoTFTSoloCUBOLog.png">
							</a>
						</div>
						<div class="col-md-6 text-center " id="textoInfo">
							<h2 class='text-center history' role="alert"
								th:if="${info!=null}" th:text="${info}"></h2>
						</div>
						<div class="col-xl-2 offset-xl-1 col-sm-3 col-md-3 text-center"
							id="user">

							<a sec:authorize="!isAuthenticated()" th:href="@{/login}"
								class="nav-link log" title="Login"><i
								class="fas fa-sign-out-alt entrarSalir"></i></a> <a
								sec:authorize="isAuthenticated()" th:href="@{/logout}"
								class="nav-link log" title="Logout"><i
								class="fas fa-sign-in-alt entrarSalir"></i></a>

							<ul class="navbar-nav userLogoLista">
								<li sec:authorize="isAuthenticated()" class="nav-item liUser">
									<a th:href="@{/user/profile}" class="nav-link" id="user"><img
										class="rounded-circle img-fluid img-responsive imgUser"
										th:src="@{'/uploads/img/' + ${user.picture}}"
										title="Perfil de usuario" alt="Foto de usuario" /></a>
								</li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</nav>



		<!-- ----------------- Fin Header ------------------------ -->

		<!-- #Paquete Usable -->

		<div class="row mt-3" id="all">

			<!-- --------------------- Botones ---------------------------- -->

			<div class="d-none d-md-block ml-md-2 col-lg-2 col-md-3 divBotones rounded-top" id="botones">
				<!-- <div class="row" sec:authorize="hasAuthority('TEACHER')">
					<div class="mt-md-3 col-md-12 tituloForm text-center">
						<h3 class="tituloBtn">Volver</h3>
					</div>
				</div> -->
				<div class="row" sec:authorize="hasAuthority('TEACHER')">
					<div class="botonCurso mt-md-3 col-md-12">
						<a th:href="@{/teacher/}"><button id="btnCurso"
								class="btn btn-effect col-lg-10 col-md-12 offset-md-1 mb-4 text-white"
								disabled>Cursos</button></a>
					</div>
				</div>

				<div class="row" sec:authorize="hasAuthority('STUDENT')">
					<div class="botonCurso mt-md-3 col-md-12">
						<button type="button"
							class="btn btn-effect col-md-10 offset-md-1 mb-4 text-white"
							id="btnCurso2" th:text="${classroom}" disabled>Cursos</button>
					</div>
				</div>

				<div class="row" sec:authorize="hasAuthority('TEACHER')">
					<div class="botonAsignaturas mt-md-3 col-md-12">
						<a th:href="@{/teacher/subject}"><button id="btnAsig"
								class="btn btn-effect col-lg-10 col-md-12 offset-md-1 mb-4 text-white"
								disabled>Asignaturas</button></a>
					</div>
				</div>

				<div class="row" sec:authorize="hasAuthority('STUDENT')">
					<div class="botonAsignaturas mt-md-3 col-md-12">
						<a th:href="@{/student/}" id="btnAsig2"
							class="btn btn-effect col-lg-10 col-md-12 offset-md-1 mb-4 text-white"
							disabled>Asignaturas</a>
					</div>
				</div>

				<div class="row">
					<div class="botonTareas mt-md-3 col-md-12">
						<a th:href="@{/teacher/listTask}"><button
								id="btnTarea"
								class="btn btn-effect col-lg-10 col-md-12 offset-md-1 mb-4 text-white" disabled>Tareas</button></a>

					</div>
				</div>

				<div class="row" sec:authorize="hasAuthority('TEACHER')">
					<div class="botonAlumnos mt-md-3 col-md-12">
						<a th:href="@{/teacher/studentsList}"><button id="btnAlum"
								class="btn btn-effect col-lg-10 col-md-12 offset-md-1 mb-4 text-white"
								disabled>Alumnos</button></a>
					</div>
				</div>

				<div class="row">
					<div class="botonEventos mt-md-3 col-md-12">
						<button type="button" onclick=""
							class="btn btn-effect col-lg-10 col-md-12 offset-md-1 mb-4 text-white">Eventos</button>
					</div>
				</div>

				
				<script>
					function rojo(){
						var elem0 = document.getElementById('btnCurso');
						var elem1 = document.getElementById('btnAsig');
						var elem2 = document.getElementById('btnTarea');
						var elem3 = document.getElementById('btnAlum');
						var elemP0 = document.getElementById('btnCursoPeq');
						var elemP1 = document.getElementById('btnAsigPeq');
						var elemP2 = document.getElementById('btnTareaPeq');
						var elemP3 = document.getElementById('btnAlumPeq');
						var direccion= window.location.href;

						if(direccion!= "http://localhost:8080/teacher/"){
							elem0.removeAttribute("disabled");
						}
						if(direccion!= "http://localhost:8080/teacher/" && direccion!= "http://localhost:8080/teacher/courseClass" && direccion!= "http://localhost:8080/teacher/subject"){
							elem1.removeAttribute("disabled");
						}
						if(direccion== "http://localhost:8080/teacher/studentsList"){
							elem2.removeAttribute("disabled")
						}
						if(direccion!= "http://localhost:8080/teacher/" && direccion!= "http://localhost:8080/teacher/courseClass" && direccion!= "http://localhost:8080/teacher/subject" && direccion!= "http://localhost:8080/teacher/studentsList"){
							elem3.removeAttribute("disabled");
						}
						if(direccion!= "http://localhost:8080/teacher/"){
							elemP0.removeAttribute("disabled");
						}
						if(direccion!= "http://localhost:8080/teacher/" && direccion!= "http://localhost:8080/teacher/courseClass" && direccion!= "http://localhost:8080/teacher/subject"){
							elemP1.removeAttribute("disabled");
						}
						if(direccion== "http://localhost:8080/teacher/studentsList"){
							elemP2.removeAttribute("disabled")
						}
						if(direccion!= "http://localhost:8080/teacher/" && direccion!= "http://localhost:8080/teacher/courseClass" && direccion!= "http://localhost:8080/teacher/subject" && direccion!= "http://localhost:8080/teacher/studentsList"){
							elemP3.removeAttribute("disabled");
						}
						
					}
					rojo();
				</script>

			</div>

			<!-- --------------------- Fin Botones ------------------------ -->


			<!-- ----------------- Zona que cambia según la opción ----------------- -->

			<div class=" col-xl-6 col-md-8 ml-md-5 col-lg-9 shadow-sm" id="zonaMovil">
				<div th:replace="${template}"></div>
			</div>

			<!-- ----------------- FIN Zona que cambia según la opción ----------------- -->

			<!--  #Paquete de Adicionales -->

			<!-- -------------------------- Calendario ------------------------------------ -->

			<div class="col-xl-3 d-sm-none d-xl-block ml-xl-5">
				<div class="row">
					<div class="container1">
						<div class="cal1"></div>
					</div>
				</div>
			</div>

			<!-- -------------------------- Fin Calendario ------------------------------------ -->


		</div>
		<!--  #Fin Paquete Usable -->

		<!--  #Fin Paquete de Adicionales -->

		<!-- -------------------- Footer -------------------- -->


		<footer class="row mt-5">
			<div class="container-fluid bgBlue py-3">
				<div class="container">
					<div class="row">

						<div class="col-md-4 col-12 mt-4">
							<div class="row py-0">
								<div
									class="col-xl-3 col-lg-4 col-md-4 col-12 hidden-md-down text-center">
									<img class="img-fluid responsive-img"
										src="/img/icono-colegio.png"
										alt="icono de un colegio de ejemplo">
								</div>
								<div class="col-12 col-md-5 text-white">
									<div class="pt-2 copyright">
										<p class=" txt-1´2em">Colegio Los Olivos</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-7 ml-3 ml-md-5 mt-md-3 descripcionDiv">
							<p class="descripcion">Esperemos que os vaya genial en este
								curso alumnado del centro, Secretaria 9:00 h - 13:30 h</p>
						</div>

						<div class="rrss mt-lg-5 mt-md-5">
							<div class="d-inline-block iconos col-12">

								<div
									class="bg-circle-outline d-inline-block text-center facebook link">
									<a href="https://www.facebook.com/"> <i
										class="fab fa-facebook-f txt-1´5em mt-1"></i>
									</a>
								</div>

								<div
									class="bg-circle-outline d-inline-block text-center twitter link">
									<a href="https://twitter.com/"> <i
										class="fab fa-twitter text-white txt-1´5em mt-1"></i>
									</a>
								</div>

								<div
									class="bg-circle-outline d-inline-block text-center linkedIn link">
									<a href="https://www.linkedin.com/company/"> <i
										class="fab fa-linkedin-in txt-1´5em mt-1"></i>
									</a>
								</div>

								<div
									class="bg-circle-outline d-inline-block text-center google link">
									<a href="https://www.google.com/"> <i
										class="fab fa-google text-white txt-1´5em mt-1"></i>
									</a>
								</div>

							</div>
						</div>

						<!-- <div class="row col-12 ml-1">
							<div class=" mt-4">
								<img class="img-fluid responsive-img" src="/img/pizarra.jpg" alt="imagen ejemplo 1">
							</div>
						</div> -->

					</div>
				</div>
			</div>
		</footer>


		<!-- ------------------ Fin Footer ------------------ -->
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<script src="/src/clndr.js"></script>
	<script src="/js/demo.js"></script>



</body>
</html>