<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Lista de Tareas</title>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid contenidoForm1 rounded-top">
		<h2 class="text-center tituloForm text-white">
			<strong>Lista de tareas</strong>
		</h2>
	</div>
	<div class="container-fluid contenidoForm2" th:if="${numTask==0}">
		<strong>Aún no hay tareas creadas</strong>
	</div>		
	<div class="container-fluid contenidoForm2" th:if="${numTask>0}">
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Tarea</th>
					<th scope="col">Descripcion</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task:${tasks}">
					<td th:text=${task.name}></td>
					<td th:text=${task.description}></td>
					<td><a class="btn btn-outline-info btn-xs" th:href="@{/summaryTasks/{id}(id=${task.id})}" th:text="'Ver más'"></a></td>
					
					
				</tr>
			</tbody>
		</table>
		<br>
	</div>
</body>
</html>