
	<div class="contenidoForm3">
		<div class="container-fluid contenidoForm1 rounded-top">
			<h3 class="text-center tituloForm text-white">
				<strong th:text="${user.name + ' ' + user.surname1 + ' ' + user.surname2}"></strong>
			</h3>
			<div class="col-lg-3 divProfileImg">
				<img id="profileImg" class="rounded-circle img-fluid responsive-img d-none d-lg-block" th:src="@{'/uploads/img/' + ${user.picture}}" alt="image" />
			</div>
		</div>
	</div>
	<div class="container-fluid margin-profile">
		<div class="col-12 divProfileImg d-block d-md-none">
			<img class="rounded-circle float-right profileImage img-fluid responsive-img" th:src="@{'/uploads/img/' + ${user.picture}}" alt="image" />
		</div>
		<div class="row mb-3">
			<div class="col-md-5 offset-md-2">
				<label class="label1"><i class="fas fa-user fa-lg text-muted mr-2" title="Nombre de usuario"></i></label>
				<p class="text-dark font-weight-bold" th:text="${user.username}"></p>
			</div>
			<div class="col-md-5">
				<label class="label1"><i class="fas fa-birthday-cake fa-lg text-muted mr-2" title="Fecha de nacimiento"></i></label>
				<p class="text-dark font-weight-bold" th:text="${#dates.format(user.birthday, 'dd-MM-yyyy')}"></p>
			</div>
		</div>
		<div class="row mb-1">
			<div class="col-md-5 offset-md-2">
				<label class="label1"><i class="fas fa-id-card fa-lg text-muted mr-2" title="D.N.I."></i></label>
				<p class="text-dark font-weight-bold" th:text="${user.dni}"></p>
			</div>
			<div class="col-md-5">
				<label class="label1"><i class="fas fa-at fa-lg text-muted mr-2" title="Email"></i></label>
				<p class="text-dark font-weight-bold small" th:text="${user.email}"></p>
			</div>
		</div>
	</div>
	<div class="caracteristicas3 col-lg-12">
		<div class="row col-12">
			<a href="#" class="col-lg-4"><button class="btn btn-effect1 mt-3 mt-lg-0 col-md-12 bg-white text-dark">Mensajes <i class="far fa-envelope"></i></button></a>
			<a href="#" class="col-lg-4"><button class="btn btn-effect1 mt-3 mt-lg-0 col-md-12 bg-white text-dark">Otros <i class="fas fa-pastafarianism"></i></button></a>
			<a th:href="@{/user/newPassword}" class="col-lg-4"><button class="btn btn-effect1 mt-3 mb-3 mb-md-0 mt-lg-0 col-md-12 bg-white text-dark">Contraseña <i class="fas fa-key" title="Cambiar contrase&ntilde;a"></i></button></a>
		</div>
	</div>



