<div class="container-fluid subjects" id="courseClassForm">
	<div class="contenidoForm5">
		<div class="container-fluid contenidoForm1 rounded-top">
			<h3 class="text-center tituloForm text-white">
				<strong>Asignaturas</strong>
			</h3>
		</div>
	</div>
	<div class="row col-12" style="display: inline-block;" th:each="subject:${subjects}" >
		<div class="col-md-12 mt-md-4">
			<div class="col-md-12 mt-4 mt-md-0 col-12 text-center divImgAsig">
				<a class="col-1 enlace" th:href="@{subject/{name}(name=${subject.name})}">
					<img th:src="@{'/uploads/img/' + ${subject.picture}}" class="col-xs-12 d-inline-block img-responsive img-thumbnail imgAsignaturas">
					<div class="col-9 text-lg-left d-inline-block">
						<span class=" ml-3 col-12 text-center" th:text="${subject.name}"></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>