<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta name="author" content="Rubén Contreras, Alejandro Bosque, Luis Castrillo, Carla Dorado">
	<meta name="description" content="Página web | Aprende volando, enseña disfrutando">
	<meta name="keywords" content="aprende, enseña, colegio, Aprende volando, enseña disfrutando">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Perfil de usuario - Alula</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/profileCss.css">

	<!-- ------------- Fontawesome --------------->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<!-- ------------- Fin Fontawesome --------------->
</head>
<body>
<div class="container" style="margin-top:40px">
	<div class="row">
		<div class="col-md-12">
<form enctype="multipart/form-data" th:action="@{/teacher/studentMessage/} + ${user.id}" method="post" >
  <div class="form-row">
  
    <div class="form-group col-sm-12 col-md-12 col-lg-12">
      <label for="inputEmail4">Asunto</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Asunto" name="subject" path="subject" required>
      <input type="hidden" name="userOrig" th:value="${userOrig}" path="userOrig">
      <input type="hidden" name="userDest"  th:value="${userDest}" path="userDest">
    </div>
    
    <div class="form-group col-sm-12 col-md-12 col-lg-12">
      <label for="inputPassword4">Mensaje</label>
      <textarea class="form-control" id="inputPassword4" placeholder="Mensaje" name="messagge" path="messagge" required></textarea>
    </div>
   
  <div class="form-group col-md-6">
  	<input type="submit" class="btn btn-primary" value="Enviar" />
  	<a th:href="@{'/teacher/studentsList'}" class="btn btn-outline-danger">Volver</a>
  </div>
  <div class="form-group col-md-3"></div>
  </div>
  
  
</form>
		</div>
	</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<script src="/src/clndr.js"></script>
	<script src="/js/demo.js"></script>
</body>

</html>