
	<div class="contenidoForm3">
		<div class="contenidoForm1 rounded-top">
			<h3 class="text-center tituloForm text-white">
				<strong th:text="${student.name + ' ' + student.surname1 + ' ' + student.surname2}"></strong>
			</h3>

				
			<div class="col-lg-3 divProfileImg">
				<img id="profileImg" class="rounded-circle img-fluid responsive-img d-none d-lg-block" th:src="@{'/uploads/img/' + ${student.picture}}" alt="image" />
			</div>
		</div>
	</div>
	<div class="container col-lg-12 contenedorStud1 mt-4 mt-md-0">
		
	<div class="col-lg-3 divProfileImg">
		<img class="rounded-circle float-right d-block d-lg-none profileImageStudent img-fluid responsive-img" th:src="@{'/img/' + ${student.picture}}" alt="image" />
	</div> 
	 <div class="caracteristicas d-none d-md-block mt-xl-4 col-lg-4 ml-lg-4 marginPeq">
	 	
	</div>
		
	<div class="caracteristicas d-none d-md-block mt-xl-4 mb-4 col-lg-5 ml-lg-3">
		
	</div>
	<div class="caracteristicas container d-block d-md-none mt-xl-4 col-lg-4 ml-lg-4 marginPeq">
		
	</div>
		
	<div class="caracteristicas container d-block d-md-none mt-xl-4 mb-4 col-lg-5 ml-lg-3">
		
	</div> 

	<div class="contenedorTabla col-lg-12">
				<div class="col-md-12 col-12">
					<strong id="messaggeTitle" style="margin-left:40px !important" >Mensajes:</strong>
					<table class="table table-hover" th:if="${numMessage>0}">
						<thead class="theadBg2">
							<tr>
								<th class="th-bgn" scope="col">Num. mensaje</th>
								<th class="th-bgn" scope="col">Asunto</th>
								<th class="th-bgn" scope="col">Mensaje</th>
							</tr>
						</thead>
						<tbody th:each="messagge:${messagges}">
							<tr class="">
								<td class="border-top1 td-bgn" th:text=${messagge.id}></td>
								<td class="border-top1 td-bgn" th:text=${messagge.subject}></td>
								<td class="border-top1 td-bgn" th:text=${messagge.messagge}></td>
							</tr>
						</tbody>
					</table >
				</div>
				<p id="ceroMessagges" style="margin-left:40px !important" th:if="${numMessage==0}">No hay mensajes</p>
			<br>
			</div>

			<div class="contenedorTabla col-lg-12 mt-4">
					<div class="col-md-12 col-12">
						<strong id="faulTitle" style="margin-left:40px !important" >Faltas:</strong>
						<table class="table table-hover" th:if="${numAttendances>0}">
							<thead class="theadBg2">
								<tr>
									<th class="th2-bgn" scope="col">Profesor</th>
									<th class="th2-bgn" scope="col">Fecha</th>
								</tr>
							</thead>
							<tbody th:each="attendance: ${attendances}">
								<tr class="">
									<td class="border-top2 td-bgn" th:text="${teacherName}"></td>
									<td class="border-top2 td-bgn" th:text="${attendance.dateAtt}"></td>
								</tr>
							</tbody>
						</table >
					</div>
					<p id="ceroFaults" style="margin-left:40px !important"  th:if="${numAttendances==0}">No hay Faltas</p>
				<br>
			</div> 
	</div>
