<link rel="stylesheet" type="text/css" href="/css/studentData.css">
<!-- <div class="container-fluid rounded-top" id="studentData"> -->
	<!-- <div class="container-fluid contenidoForm1 rounded-top">
		<h2 class="text-center tituloForm">
			<strong th:text="${user.name} +' ' +${user.surname1}"></strong>
		</h2>
	</div> -->
	<div class="container-fluid contenidoForm2">
		<form th:action="@{/teacher/studentData}" method="post"
			th:object="${user}">
			<!-- <img id="studentDataPicture"
				class="mb-4 rounded-circle img-responsive"
				th:src="@{'/img/' + ${user.picture}}" alt="image" /> -->
			<p id="messaggeTitle">Mensajes: </p>
			<div th:each="messagge:${messagges}">
				<table class="table table-sm" th:if="${numMessage>0}">
					<thead>
						<tr>
							<th scope="col">Asunto</th>
							<th scope="col">Mensaje</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text=${messagge.subject}></td>
							<td th:text=${messagge.messagge}></td>
						</tr>
					</tbody>
				</table >
				
			</div>
			<p id="ceroMessagges" th:if="${numMessage==0}">No hay mensajes</p>
			<br>
		</form>
	</div>

<!-- </div> -->