<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">
	
</head>
<body>
	<div class="container-fluid contenidoForm1 rounded-top">
		<h2 class="text-center tituloForm text-white">
			<strong th:text=${task.name}></strong>
		</h2>
	</div>
	<div class="container-fluid contenidoForm2">
		<h3 class="text-primary mb-3" style="text-align: center;">Alumnos con la tarea asignada</h3>
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">Nota</th>
					<th scope="col">Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user:${users}">
					<td th:text=${user.name}></td>
					<td th:text=${user.username}></td>
					<div th:each="task:${tasks}">
					<td th:text=${task.score} th:if="${task.id==idTask}"></td>
					<td th:if="${task.id==idTask} and ${task.completed}">
						<i class="fas fa-circle" style="color:green;"></i>
					</td>
					<td th:if="${task.id==idTask} and ${!task.completed}">
						<i class="fas fa-circle" style="color:red;"></i>
					</td>
					</div>
					
				</tr>
			</tbody>
		</table>
		<!-- 		<div th:each="user:${users}"> -->
		<!-- 			<p th:text=${user.name}></p> -->

		<!-- 			<div th:each="task:${tasks}"> -->
		<!-- 				<p th:text=${task.score} th:if="${task.id==idTask}"></p> -->
		<!-- 			</div> -->

		<!-- 		</div> -->
	</div>

</body>
</html>