<div class="container contStudentList">				
	<div class="contenidoForm5">
		<div class="container-fluid contenidoForm1 rounded-top">
			<h3 class="text-left text-lg-center tituloForm text-white">
				<strong>Lista de Alumnos</strong>
			</h3>
			<form class="form-inline addTask">
				<button th:formaction="@{/teacher/addTask/} + ${subjectId}" class="btn botonAñadir btn-primary" type="submit" >Tarea <i class="fas fa-plus"></i></button>
			</form>
		</div>
	</div>
	
	
	

	<div class="contenedorTabla col-lg-12">
			<div class="col-md-12 col-12">
			
				<table class="table table-hover">
					<thead>
						<tr>						
							<th class="no-border bg-student" scope="col"></th>
							<th class="no-border bg-student" scope="col">Falta</th>
							<th class="no-border bg-student" scope="col">Mensaje</th>
							<th class="no-border bg-student" scope="col">Detalles</th>  
						</tr>
					</thead>
					<tbody th:each="user: ${users}">
						<tr class="">
							<td class="border-top3 td-bgn3" th:text="${user.surname1 + ' ' + user.surname2 + ', ' + user.name}"></td>
							<td class="border-top3 td-bgn3">
								<a class="btn btn-outline-danger btn-xs " th:href="@{/teacher/list/}+ ${user.id}"th:text="'Falta'" onclick="disableButton()"></a>
							</td>
							<td class="border-top3 td-bgn3">
								<a class="btn btn-outline-primary btn-xs" th:href="@{/teacher/studentMessage/} + ${user.id}" th:text="'Mensaje'"></a>
							</td>
							<td class="border-top3 td-bgn3">
								<a class="btn btn-outline-success btn-xs" th:href="@{/teacher/studentDetail/} + ${user.id}" th:text="'Detalles'"></a>
							</td>
						</tr>
					</tbody>
				</table >
			</div>
	</div>
</div>
