<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Alula | Bienvenid@</title>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/welcome.css">
	<link rel="stylesheet" type="text/css" href="/css/buttons.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="card col-10">
				<img class="img-fluid mx-auto d-block w-20 mt-3" src="img/LogoTFTSoloCUBOLog.png" alt="Logo Alula" width="100">
		    	<div class="card-body">
      				<h6 class="card-title text-center text-primary font-italic mb-5">Aprende volando, disfruta enseñando</h6>
			    	<p class="card-text text-center text-primary m-2">¡Bienvenid@!</p>
			    	<br>
			    	<div>
			    		<form class="forms" th:action="@{/welcome}" method="post">
							<input type="text" th:value="${user.id}" id="id" hidden>
							<div class="row justify-content-center">
							    <div class="col-md-4 col-sm-4 welcomeDiv">
						    		<input class="btn btn-primary btn-lg btn-block welcome" type="submit" value="ENTRAR">
							    </div>
							    <div class="col-md-4 col-sm-4 welcomeDiv">
							    	<a class="welcomeExit btn btn-lg btn-block" th:href="@{/logout}" role="button" title="Logout">SALIR</a>
							    </div>
							</div>
						</form>
			    	</div>
					
		          </div>
			</div>
		</div>
	</div>
</body>
</html>