<div class="row justify-content-center align-items-center">
	<div class="card card col-10 p-0">
    	<div class="card-body col-12">
        	<div>
      			<img class="img-fluid mx-auto d-block" src="/img/LogoTFTSoloCUBOLog.png" alt="Logo Alula" width="100">
	    	</div>
	    </div>
	    <h5 class="card-title text-center m-4"><i class="fas fa-tools fa-2x"></i></h5>
    	<p class="card-text text-center mb-3">Esta sección se encuentra en construcción.</p>
   </div>
</div>